<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
         {{ title }}
    </h1>
</div>
<input type="text"
       placeholder="Escriba una tarea"
       (keydown.enter)="crearTodo($event.target)">


<ul>
    <li *ngFor="let todo of obtenerEstado()">
        <app-todo [todoDatos]="todo"
                  (elminiarTarea)="eliminarTodo($event)"
                  (seleccionarChecbox)="verificarChecbox($event)"></app-todo>
    </li>
</ul>


<br>
<br> {{obtenerCantidad()}} item left
<input type="button"
       (click)="setModeTodos()"
       value="todos">
<input type="button"
       (click)="setModeCompletados()"
       value="completados">
<input type="button"
       (click)="setModeActivos()"
       value="activos">




